{% extends "food_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" 
  integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" 
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" 
  integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" 
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css"
  href="{% static 'css/home.css' %}">

  <div class='container jumbotron_background_img'> 
      <img class='img-fluid bg-image' src="{% static 'images/lamanna_homemade_copy.jpg' %}">
      <div class='container front-banner-text'>
        <h4 class='centered-logo'>
            Homemade Gnocchi
        </h4>
        <h6>Learn how to make pasta like your grandmother</h6>
      </div>
  </div>


 <br>
 <br>

 <section>
   <div class='container tile-container'>
    <div class='tile is-ancestor'>

      <div class='tile is-5 is-parent'>
        <div class='tile is-child box large-right-tile'>
          <h1>Wine Generator</h1>
          <p>Let us suggest to you the right wine for the right occasion</p>
        </div>
      </div>

    <div class='tile is-7'>
      <div class='tile is-parent is-vertical'>
        <div class='tile is-child box top-middle-tile'>
          <h3>How to make the best dough</h3>
        </div>
        <div class='tile is-child box bottom-middle-tile'>
          <h3>Discover our classic Guac recipe</h3>
        </div>
    </div>

    <div class='tile is-parent is-vertical'>
       <div class='tile is-child box snack-tile'>
          <a href="{% url 'site-snack' %}"><h3>Snacks</h3></a>
      </div>
        <div class='tile is-child box dinner-tile'>
          <a href="{% url 'site-dinner' %}"><h3>Dinner</h3></a>
      </div>
      <div class='tile is-child box dessert-tile'>
        <a href="{% url 'site-dessert' %}"><h3>Dessert</h3></a>
      </div>
      <div class='tile is-child box wine-tile'>
        <a href="{% url 'site-wine' %}"><h3>Wine</h3></a>
      </div>
    </div>


    </div> 
    </div>
   </div>
 </section>




<div class='container food-style-columns'>
  <div class='container left-column'>
      <h1 class='type-heading'>#Editor's Picks</h1>
  </div>
</div>



 <div class='container article-grid'>
   <div class='container grid-image-left'>
     <img class='img-fluid article-grid-image1' src="{% static 'images/frencho.jpg' %}" href="#">
     <h3>Classic French Onion Soup</h3>
     <small>
        Delve into the french country side with this classic soup.
        Delve into the french country side with this classic soup.
     </small>
   </div>
   <div class='container grid-image-center'>
     <a href="{% url 'site-dinner' %}#chicken"><img class='img-fluid article-grid-image1' src="{% static 'images/Chicken_Spinach_Alfredo_copy.jpg' %}" href="#"></a>
     <h3>Alfredo Chicken and Spinach</h3>
     <small>
        Delve into the french country side with this classic soup.
        Delve into the french country side with this classic soup.
     </small>
    </div>
   <div class='container grid-image-right'>
     <img class='img-fluid article-grid-image1' src="{% static 'images/pizza.jpg' %}" href="#">
     <h3>Homemade Neopolitan Pizza</h3>
     <small>
        Delve into the french country side with this classic soup.
        Delve into the french country side with this classic soup.
     </small>
   </div>

 </div>

 <div class='container article-grid'>
    <div class='container grid-image-left'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/ribs_copy.jpg' %}" href="#">
      <h3>Nashville Style Ribs</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>

    <div class='container grid-image-center'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/pulled_pork.jpg' %}" href="#">
      <h3>Louisiana Pulled Pork</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>

    <div class='container grid-image-right'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/christmas_cookies.jpg' %}" href="#">
      <h3>Traditional Holiday Cookies</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>

  </div>

 <div class='container article-grid'>
    <div class='container grid-image-left'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/frencho.jpg' %}" href="#">
      <h3>French Onion Soup</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>
    <div class='container grid-image-center'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/frencho.jpg' %}" href="#">
      <h3>French Onion Soup</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>

    <div class='container grid-image-right'>
      <img class='img-fluid article-grid-image1' src="{% static 'images/frencho.jpg' %}" href="#">
      <h3>French Onion Soup</h3>
      <small>
         Delve into the french country side with this classic soup.
         Delve into the french country side with this classic soup.
      </small>
    </div>

  </div>

  <div class='slider'>

  </div>




<!-- <div class='container featured'><h6>#Featured</h6></div>
 <div class='container info-boxes'data-aos="fade-right">
    <div class='box image-1' >
      <a href='#'>
        <img class='img-fluid wine-image' src='{% static  "images/full-bottle.jpg"%}'>
      </a>
    </div>
    <div class='box text-1'>
      <h1>Perfect Wine Generator</h1>
      <p>Input the kinds of food you are eating and let our generator tell you what a good wine woudl be
        to pair it with!
      </p>
    </div>
</div>
<div class='container info-boxes' data-aos="fade-left">
    <div class='box text-2'>
      <h1>Perfect Wine Generator</h1>
      <p>Input the kinds of food you are eating and let our generator tell you what a good wine woudl be
        to pair it with!
      </p>
      </div>
    <div class='box image-3'>
      <a href='#'>
        <img class='img-fluid'  src='{% static  "images/stir-fry.jpg"%}'>
      </a>
    </div>
</div>
<div class='container info-boxes'data-aos="fade-right">
    <div class='box image-3' >
      <a href='#'>
        <img class='img-fluid' src='{% static  "images/full-bottle.jpg"%}'>
      </a>
    </div>
    <div class='box text-3'>
      <h1>Perfect Wine Generator</h1>
      <p>Input the kinds of food you are eating and let our generator tell you what a good wine woudl be
        to pair it with!
      </p>
    </div>
</div> -->


<div class='container-fluid parent-banner-container'>
  <div class='container-fluid mid-banner-container'>
    <div class='container mid-banner-image'>
      <img class='img-fluid mid-section-big-board-image' src="{% static 'images/kebab.jpeg' %}" href='#'>
    </div>
    <div class='container mid-banner-text'>
      <h3>Caribbean Kebabs!</h3>
      <p>A Caribbean-inspired marinade for these steak-veggie kebabs is flavored with soy sauce, plenty of spices 
        and and spiked with rum to get you hopping!</p>
      <a href='#'><small>check it out</small></a>
    </div>
  </div>
</div>

<div class='container popular-articles'>
  <div class='container left-grid'>
    <h1 class='popular-heading'>#Most Popular</h1>
    <div class='container popular-grid'>
      <div class='container lefty'>
        01
      </div>
      <div class='container righty'>
        <a href='#'><h4>What is The Right Kind of Wine For You? Check Out Our Personal Wine Generator</h4></a>
      </div>
    </div>
    <div class='container popular-grid'>
      <div class='container lefty'>
        02
      </div>
      <div class='container righty'>
        <a href='#'><h4>What is The Right Kind of Wine For You? Check Out Our Personal Wine Generator</h4></a>
      </div>
    </div>
    <div class='container popular-grid'>
      <div class='container lefty'>
        03
      </div>
      <div class='container righty'>
        <a href='#'><h4>What is The Right Kind of Wine For You? Check Out Our Personal Wine Generator</h4></a>
      </div>
    </div>
    <div class='container popular-grid'>
      <div class='container lefty'>
        04
      </div>
      <div class='container righty'>
        <a href='#'><h4>What is The Right Kind of Wine For You? Check Out Our Personal Wine Generator</h4></a>
      </div>
    </div>
    <div class='container popular-grid'>
      <div class='container lefty'>
        05
      </div>
      <div class='container righty'>
        <a href='#'><h4>What is The Right Kind of Wine For You? Check Out Our Personal Wine Generator</h4></a>
      </div>
    </div>
    

  </div>
  <div class='container right-grid'>
    <img class='img-fluid large-popular-image' src="{% static 'images/burger.jpg' %}" href="#">
  </div>
</div>




<br>
<br>


 <script src="{% static 'js/home.js' %}"></script>
{% endblock content %}





