{% extends "food_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
  href="{% static 'home.css' %}">
  <div class='container-fluid jumbotron-background-img'> 
      <img class='img-fluid bg-image' src="{% static 'images/ravioli-with-spinach-ricotta-cheese.jpg' %}">
      <h4 class='centered-logo'>
        Homemade Pizza
      </h4>
  </div>


 <br>
 <br>

  <h1 class='h1-recipe-text'>Check out our wide variety of recipes and wine info!</h1>
 <div class='container wrapper'>

   <a href='#'><div class='container card'>
     <img class='img-fluid' src='{% static "images/buff_dip.jpg" %}'>
     <div class='container info'>
       <h1>Snacks</h1>
     </div>
   </div>
  </a>

 
   <a href='#'><div class='container card'>
     <img class='img-fluid' src='{% static "images/Chicken_Spinach_Alfredo.jpg" %}'>
     <div class='container info'>
       <h1>Dinner</h1>
     </div>
   </div>
  </a>

   <a href='#'><div class='container card'>
     <img class='img-fluid' src='{% static "images/almonds.jpg" %}'>
     <div class='container info'>
       <h1>Dessert</h1>
     </div>
   </div>
  </a>

  <a href='#'><div class='container card'>
     <img class='img-fluid' src='{% static "images/red-wine.jpg" %}'>
     <div class='container info'>
       <h1>Wine</h1>
     </div>
   </div>
  </a>

 </div>

<!-- <div class='container info-boxes'data-aos="fade-right">
    <div class='box image-1' >
      <a href='#'>
        <img class='img-fluid' src='{% static  "images/full-bottle.jpg"%}'>
      </a>
    </div>
    <div class='box text-1'>
      <h1>Perfect Wine Generator</h1>
      <p>Input the kinds of food you are eating and let our generator tell you what a good wine woudl be
        to pair it with!
      </p>
    </div>
</div>

<div class='container info-boxes' data-aos="fade-left">
    <div class='box text-2'>
        <h1>FEATURE Chicken Stir-Fry</h1>
        <p>Discover our featured recipe of the month and why we love it.
        </p>
      </div>
    <div class='box image-2'>
      <a href='#'>
        <img class='img-fluid' src='{% static  "images/stir-fry.jpg"%}'>
      </a>
    </div>
</div>

<div class='container info-boxes'data-aos="fade-right">
    <div class='box image-3' >
      <a href='#'>
        <img class='img-fluid' src='{% static  "images/full-bottle.jpg"%}'>
      </a>
    </div>
    <div class='box text-3'>
      <h1>Perfect Wine Generator</h1>
      <p>Input the kinds of food you are eating and let our generator tell you what a good wine woudl be
        to pair it with!
      </p>
    </div>
</div> -->

 <script src="{% static 'js/home.js' %}"></script>
{% endblock content %}





