{% extends "food_app/snack_base.html" %}
{% load static %}
{% block snack_content %}
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
href="{% static 'snack.css' %}">
{% for post in posts %}

<div class='container main-grid'>
  <div class='grid-1'>
      <img class='img-fluid' src='{{ post.image.url }}'>
  </div>
  <div class='container grid-2'>
      <div id="banner-header">
        {% if post.difficulty == 'easy' %}
          <h6>{{ post.difficulty }}</h6>
        {% elif post.difficulty == 'medium' %}
          <h6 style='background-color: yellow; color:black;width:70px;'>{{ post.difficulty }}</h6>
        {% elif post.difficulty == 'hard' %}
          <h6 style='background-color: rgb(102,0,0); color:white;'>{{ post.difficulty }}</h6>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <div class='container info-container'>
          <i class="far fa-hourglass"></i>
          <i class="far fa-bell"></i>
        </div>
        <div class='container info-container'>
            <h4>Prep Time</h4>
            <h4>Cook Time </h4>
        </div>
        <div class='container info-container'>
            <h5>{{ post.prep_time_lower }} min - {{ post.prep_time_upper }} min</h5>
            <h5>{{ post.cook_time_lower }} min - {{ post.cook_time_upper }} min </h5>
        </div>
      </div>
  </div>
  <div class='container grid-5'>
      <div class='container recipe-info'>
          <div class='container instructions'>
            <h3>Instructions</h3>
            <ol class='container recipe-list'>
              {% if post.instructions_1 != '.' %}
                <li>{{ post.instructions_1 }}</li>
              {% endif %}
              {% if post.instructions_2 != '.' %}
                <li>{{ post.instructions_2 }}</li>
              {% endif %}
              {% if post.instructions_3 != '.' %}
                <li>{{ post.instructions_3 }}</li>
              {% endif %}
              {% if post.instructions_4 != '.' %}
                <li>{{ post.instructions_4 }}</li>
              {% endif %}
            </ol>         
          </div>

          <div class='contaner ingredients'>
            <h3>Ingredients</h3>
            <ul class='container recipe-list'>
              {% if post.ingredients_1 != '.' %}
                <li>{{ post.ingredients_1 }}</li>
              {% endif %}
              {% if post.ingredients_2 != '.' %}
                <li>{{ post.ingredients_2 }}</li>
              {% endif %}
              {% if post.ingredients_3 != '.' %}
                <li>{{ post.ingredients_3 }}</li>
              {% endif %}
              {% if post.ingredients_4 != '.' %}
                <li>{{ post.ingredients_4 }}</li>
              {% endif %}
            </ul>
          </div>
        </div>
  </div>
</div>

{% endfor %}
{% endblock snack_content %}

