{% extends 'food_app/base.html' %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
href="{% static 'css/tips.css' %}">





<section>
    <div class='container-fluid jumbotron-background-img'> 
        <img class='img-fluid bg-image' src="{% static 'images/tips_banner.jpg' %}">
        <h4 class='centered-logo'>
          #Tips and Tricks
        </h4>
    </div>
  <div class='container tips-grid'>
    <div class='container large-grid'>
        <img class='img-fluid' src="{% static 'images/kneeding_dough.jpg' %}">
        <a href='#'><h1>How to make homemade dough for any baking occasion</h1></a>
        <div class='container' style='margin-top: 20px;'>
            {% block tips_content %} {% endblock tips_content %}
        </div>
    </div>


    <div class='container side-grid'>
      <div class='container default-article-grid'>
        <div class='container article-heading'>
            <hr style='border: 7px solid black;'>
          <a href='#'><h2>How To Make the Best Meatballs you will ever see, learn why that's important</h2></a>
          <hr style='border: 7px solid black;'>
        </div>
        <div class='container article-heading2'>
          <a href='#'><h2>How To Make the Best Meatballs you will ever see, learn why that's important</h2></a>
          <hr style='border: 7px solid black;'>
        </div>
        <div class='container article-heading3'>
          <a href='#'><h2>How To Make the Best Meatballs you will ever see, learn why that's important</h2></a>
        
        </div>

      </div>
      
    </div>
    
  </div>
  
</section>




{% endblock content %}