*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.main-body{
  background-color: rgb(194, 98, 19);
  padding:30px;
}

.bio-container{
  display:flex;
  flex-direction: row;
  background-color: white;
  padding:30px;
}