*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.bg-image{
  max-width:100%;
  
}

.jumbotron-background-img{
  padding:0px;
  padding-bottom:40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  max-width: 100%;
  padding:50px;
}

/* Banner Containers */

.img-container{
  display:flex;
  flex-basis: 50%;
  padding:0px;
}
.banner-text-container{
  display: flex;
  flex-basis: 16%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  align-content: center;
  align-items: center;
  flex-grow:4;
  padding:20px;
}


#banner-header{
  flex-grow:6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#banner-header h1{
  font-weight:bold;
  font-size:50px;
}
#banner-header button{
  font-size:20px;
}

.btn-light{
  background-color:rgb(102,0,0);
  border-radius: 90%;
  font-family:'Poppins', sans-serif;
  color:white;
  width:30%;
}
.btn-light:hover{
  background-color:rgb(102,0,0);
  color:white;
}

.bio-container{
  display:flex;
  flex-basis: 24%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}





#bio{
  font-size:50px;
  flex-basis:100%;
  font-family:'Poppins', sans-serif;

}

.centered-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  color:rgb(102,0,0);
  letter-spacing: 12px;
  font-size:80px;
  padding-top:5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transform: translateY(100%);
  transform: translatey(50%);
}


.site-info-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:-40px;
  font-family: 'Poppins', sans-serif;
}

.tag-list{
  padding:30px;
}




#info-tabs{
  display: flex;
  justify-content: space-around;
  width:55%;
  padding-top: 15px;
  list-style: none;
  font-size:40px;
}

.bio-pic{
  border-radius:70%;
  width:60%;
  padding:15px;
}

.bio-container p{
  font-size:12px;
}

.vl {
  border-left: 2px solid black;
  height: 500px;
}

@media screen and (max-width:855px){
  .centered-logo{
    font-size:60px;
  }
  #info-tabs{
    font-size:20px;
  }
  .tag-list{
    padding:20px;
  }
}
@media screen and (max-width:693px){
  .centered-logo{
    font-size:40px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:10px;
  }
}
@media screen and (max-width:509px){
  .centered-logo{
    font-size:30px;
    letter-spacing: 5px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:7px;
  }
}
@media screen and (max-width:412px){
  .centered-logo{
    font-size:20px;
    letter-spacing: 3px;
  }
  #info-tabs{
    font-size:7px;
  }
  .tag-list{
    padding:5px;
  }
}








