*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.bg-image{
  max-width:100%;
  padding:0px;
}

.jumbotron-background-img{
    padding:40px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-content: space-around;
    align-items: center;
  }

.inner-box-wrapper{
  display: flex;
  flex-direction: column;
  padding:0px;
}

.h1-recipe-text{
  padding:0px;
}

.banner-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  max-width: 100%;
  padding-top:30px;
  background:rgb(192,192,192);
  color:white;
  padding-bottom:30px;
}


/* Banner Containers */

.img-container{
  display:flex;
  flex-basis: 50%;
  padding:0px;
}
.banner-text-container{
  display: flex;
  flex-basis: 16%;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  align-content: center;
  align-items: center;
  flex-grow:4;
  padding:20px;
}


#banner-header{
  flex-grow:6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#banner-header h1{
  font-weight:bold;
  font-size:50px;
}
#banner-header button{
  font-size:15px;
}

.btn-light{
  background-color:rgb(102,0,0);
  font-family:'Poppins', sans-serif;
  color:white;
  width:35%;
  display:flex;

}
.btn-light:hover{
  background-color:white;
  color:rgb(102,0,0);
}

.bio-container{
  display:flex;
  flex-basis: 24%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}


#bio h3{
  font-size:50px;
  flex-basis:100%;
  font-family:'Poppins', sans-serif;

}

/* Social media icons */

.fa-linkedin{
  font-size:25px;
  color:#ffffff;
}
.fa-github{
  font-size:25px;
  color:#ffffff;
}
.fa-linkedin:hover{
  font-size:25px;
  color:#0A66C2;
}
.fa-github:hover{
  font-size:25px;
  color:black;
}
.social-media-icons{
  padding:10px;
}
.social-media-icons a{
  text-decoration: none;
}

.jumbotron-background-img h4{
  background-color:rgb(102,0,0);
}

.centered-logo {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color:#ffff;
  letter-spacing: 12px;
  font-size:40px;
  padding-top:5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}





.site-info-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:-40px;
  font-family: 'Poppins', sans-serif;
}

.tag-list{
  padding:30px;
}




#info-tabs{
  display: flex;
  justify-content: space-around;
  width:55%;
  padding-top: 15px;
  list-style: none;
  font-size:40px;
}

.bio-pic{
  border-radius:70%;
  width:70%;
  padding:15px;
}

.bio-container p{
  font-size:12px;
}

.vl {
  border-left: 3px solid white;
  height: 400px;
}

@media screen and (max-width:855px){
  .centered-logo{
    font-size:60px;
  }
  #info-tabs{
    font-size:20px;
  }
  .tag-list{
    padding:20px;
  }
}
@media screen and (max-width:693px){
  .centered-logo{
    font-size:40px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:10px;
  }
}
@media screen and (max-width:509px){
  .centered-logo{
    font-size:30px;
    letter-spacing: 5px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:7px;
  }
}
@media screen and (max-width:412px){
  .centered-logo{
    font-size:20px;
    letter-spacing: 3px;
  }
  #info-tabs{
    font-size:7px;
  }
  .tag-list{
    padding:5px;
  }
}


/*CARDS*/

.h1-recipe-text{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display:flex;
  max-width:100%;
  justify-content: center;
  align-content: center;
}

.wrapper a{
  text-decoration: none;
}

.card{
  width:280px;
  height:360px;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
  
}

.card:hover{
  transform:translateY(20px);
}

.card:before{
  content:"";
  top: 0;
  position: absolute;
  left:0;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(102,0,0), white);
  z-index:2;
  transition:0.5s all;
  opacity:0;

}

.card:hover:before{
  opacity:1;

}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;
  left:0;
}



.card .info{
  position: relative;
  z-index: 6;
  color: #fff;
  opacity:0;
  transform: translateY(30px);
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;

}

.card:hover .info{
  opacity:1;
  transform:translateY(60px);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}




.info-boxes{
  display: flex;
  flex-direction:row;
  flex-wrap: row;
  padding:0px;
}
.image-1{
  font-size: 30px;
  flex-basis: 65%;
}
.text-1{
  font-size: 30px;
  flex-basis: 35%;
}


.image-2{
  font-size: 30px;
  flex-basis: 65%;
}
.text-2{
  font-size: 30px;
  flex-basis: 35%;
}
.info-boxes img{
  padding:10px;
}

.image-3{
  font-size: 30px;
  flex-basis: 65%;
}
.text-3{
  font-size: 30px;
  flex-basis: 35%;
}




