*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

body, html{
  height:100%;
}

.bg-image{
  max-width:100%;
  padding:0px;
}

.header-background{
  background:linear-gradient(rgb(0,0,5) 80%, #fff 20%);
  padding:30px 0px 0px 200px;
  height:60%;
  display:flex;
  justify-content: center;
  align-items:center;
  align-content: center;
  margin: 0px 0px 50px 0px;

 

}

.jumbotron_background_img{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding:0px 0px;
  height:400px;
  background: url("/static/images/wine_guide_home copy.jpg");
  background-color:rgb(5, 0, 0);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  flex-wrap: row;


}

.centered-logo {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  color:rgba(207, 166, 241, 0.925);
  letter-spacing: 2px;
  font-size:33px;
  padding-top:5px;
  font-family: 'Poppins', sans-serif;
  margin:0px 0px;
  padding:0px 00px;
  height:50%;
}

.front-banner-text{
  height:100%;
  display: block;
  position: relative;
  left: -200px;
  top: 100px;
  z-index: 99;

}

#jumbo-header{
  color:rgb(0,0,5);
  background:rgba(89, 255, 186, 0.925);
  font-weight:bolder;
  padding:0px 10px;
  text-align: left;
  font-size: 30px;
}

 .centered-logo a{
  font-size:15px;
  color:rgb(0,0,5);
  background:rgba(89, 255, 186, 0.925);
  font-weight:bolder;
  padding:0px 10px;
  text-align: left;
  font-size: 15px;
}


.h1-recipe-text{
  padding:0px;
}

.banner-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  max-width: 100%;
  padding-top:30px;
  background:rgb(192,192,192);
  color:rgb(0,0,5);
  padding-bottom:30px;
}

.jumbotron_background_img h6{
  letter-spacing: 0px;
  color:rgba(95, 48, 48, 0.925);
}





.site-info-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:-40px;
  font-family: 'Poppins', sans-serif;
}

.tag-list{
  padding:30px;
}

#info-tabs{
  display: flex;
  justify-content: space-around;
  width:55%;
  padding-top: 15px;
  list-style: none;
  font-size:40px;
}


@media screen and (max-width:855px){
  .centered-logo{
    font-size:40px;
  }
  #info-tabs{
    font-size:20px;
  }
  .tag-list{
    padding:20px;
  }
}
@media screen and (max-width:693px){
  .centered-logo{
    font-size:30px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:10px;
  }
}
@media screen and (max-width:509px){
  .centered-logo{
    font-size:20px;
    letter-spacing: 5px;
  }
  #info-tabs{
    font-size:10px;
  }
  .tag-list{
    padding:7px;
  }
}
@media screen and (max-width:412px){
  .centered-logo{
    font-size:15px;
    letter-spacing: 3px;
  }
  #info-tabs{
    font-size:7px;
  }
  .tag-list{
    padding:5px;
  }
}

.info-boxes{
  display: flex;
  flex-direction:row;
  flex-wrap: row;
  padding:0px;
}
.image-1{
  font-size: 30px;
  flex-basis: 65%;
}
.text-1{
  font-size: 30px;
  flex-basis: 35%;
}


.image-2{
  font-size: 30px;
  flex-basis: 65%;
}
.text-2{
  font-size: 30px;
  flex-basis: 35%;
}
.info-boxes img{
  padding:10px;
}

.image-3{
  font-size: 30px;
  flex-basis: 65%;
}
.text-3{
  font-size: 30px;
  flex-basis: 35%;
}


/* Article Grids */

.article-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr ;
  
  color:black;
  justify-content: center;
  padding:20px;
  font-family: 'Noto Sans TC', sans-serif;

}

.article-grid-image1{
  border-radius:100px;
}


.grid-image-left{
  grid-column: 1/3;
  grid-row:1/2;
  align-self: center;
}

.grid-image-center{
  grid-column: 3/5;
  grid-row:1/2;
  align-self: center;
}

.grid-image-right{
  grid-column: 5/7;
  grid-row:1/2;
  align-self: center;
}


.grid-image-left h3{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
.grid-image-center h3{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
.grid-image-right h3{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}




.popular-articles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  color:white;
  height:600px;
  padding:0px;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.left-grid{
  grid-column: 1/3;
  grid-row:1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.right-grid{
  padding:0px;
  grid-column: 3/4;
  grid-row:1/2;
}

.large-popular-image{
  height:600px;
  max-width:100%;
}

.popular-grid{
  display: flex;
  flex-direction: row;
  padding:0px;
  float:left;
  margin:0px;
}

.popular-heading{
  color:white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: rgb(0,0,5);
  font-size:70px;
  
}

.lefty{

  font-size:30px;
  background-color:rgb(5, 0, 0);
  font-family: 'Noto Sans TC', sans-serif;
  text-align: left;
  padding:30px;
  flex-basis:10%;
}
.righty{
  display: flex;
  flex-basis:90%;
  font-family: 'Noto Sans TC', sans-serif;

  color:black;
  align-items: center;

}
.righty h4{
  font-size:20px;
}

.righty a{
  list-style: none;
  color:black;
}



.info-boxes{
  display: flex;
  flex-direction:row;
  flex-wrap: row;
  padding:20px;
  width:1000px;
}

.image-1{
  flex-basis: 65%;
}
.text-1{
  font-size: 20px;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-2{
  font-size: 30px;
  flex-basis: 65%;
}
.text-2{
  font-size: 20px;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.info-boxes img{
  padding:10px;
}

.image-3{
  font-size: 10px;
  flex-basis: 65%;
}
.text-3{
  font-size: 20px;
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}





.latest-heading{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color:rgba(95, 48, 48, 0.925);
  color:white;
  letter-spacing: 8px;
  margin:50px 0px 0px 0px;
  display:flex;
  flex-direction: column;
  align-content: flex-start
}

.lat-head{
  padding:20px;
  font-size: 40px;
}



.type-heading{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color:#fff;
  font-weight: bold;
  letter-spacing: 6px;
 
}

.left-column{
  background-color:rgba(95, 48, 48, 0.925);
 
  margin:0px 300px 0px 300px;
}

.parent-banner-container{
  margin:0px;
  padding:0px;

  width: 100%;


}

.mid-section-big-board-image{
  border-radius:10px;
  
}

.mid-banner-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin:0px;
  padding:0px;
  background:rgb(0,0,5);
  max-width: 100%;
  margin:0px 0px 80px 0px;
}


.mid-banner-image{
  grid-column: 1/2;
  grid-row: 1/2;

  padding:0px 0px 0px 0px;
}

section{
  padding:0px 0px;
  margin: 30px 0px;
  
}

.tile-container{
  padding:0px 0px;
  margin:70px 70px;
}
.mid-banner-text{
  grid-column: 2/4;
  grid-row: 1/2;
  color:rgb(0,0,5);
  padding:0px 0px 0px 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.mid-banner-text h3{
  font-size:60px;
  color:#fff;
}

.mid-banner-text p{
  font-size:20px;
  color:#fff;
}
.mid-banner-text a{
  color:rgba(89, 255, 186, 0.925);
  text-decoration: underline;
}

.four-horizontal-tile{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four-horizontal-tile a{
  color:#fff;
}



.four-horizontal-tile h1{
  font-size:40px;
  font-family:'Noto Sans TC', sans-serif;
  padding:0px 16px 0px 16px;
  border-radius:10px;
}



.top-middle-tile{
  background: url("/static/images/best_dough.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:400px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgba(95, 48, 48, 0.925);
  justify-content: flex-end;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;

}

.top-middle-tile h3{
  background:#fff;
  font-size:20px;
  padding:10px 10px;
  width:400px;
  border-radius:10px;
}
.middle-tile h3{
  background:#fff;
  padding:10px 10px;
  font-size:20px;
  width:400px;
  border-radius:10px;
}
.bottom-middle-tile h3{
  background:#fff;
  font-size:20px;
  padding:10px 10px;
  width:400px;
  border-radius:10px;
}

.middle-tile{
  background: url("/static/images/vodka_sauce_tile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:400px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(247, 242, 242);
  justify-content: flex-end;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;

}
.bottom-middle-tile{
  background: url("/static/images/wine_page/wine_cycle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(247, 242, 242);
  justify-content: flex-end;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;
  margin:0px 0px;

}

.large-snack-tile{

  background: url("/static/images/snack-tile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:480px;
}

.large-snack-tile:hover{}
.large-dinner-tile:hover{}
.large-dessert-tile:hover{}
.large-wine-tile:hover{}

.large-dinner-tile{

  background: url("/static/images/dinner-tile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:480px;
}
.large-dessert-tile{

  background: url("/static/images/dessert-tile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:480px;
    ;}
.large-wine-tile{

  background: url("/static/images/wine_tile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:480px;
}


.wine-maker{
  margin:90px 20px;
  padding:0px;
  display:flex;
  justify-content: center;
  width: 100%;

}

.wine-diagram-image{

  width:100%;
}

.wine-sectional-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin:0px 0px;
  padding:0px;
  max-width: 100%;
  margin:0px 20px;
  padding:0px 50px;
  height:100%;
}
.wine-diagram{
  grid-column: 2/4;
  grid-row: 1/2;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0px 0px;

}
.wine-information{
  grid-column: 1/2;
  grid-row: 1/2;

  padding:0px 0px 0px 0px;
}



.snack-tile{
  background: url("/static/images/buff_dip.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  color:rgb(247, 247, 247);
  font-weight: bold;
  justify-content: center;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;
  
}
.tri-tile{
  height:100%;
}
.tri-tile a{
  list-style: none;
  text-decoration: underline;
  color:rgb(0,0,5);
  
}
 .quad-tile a{
  color:rgba(95, 48, 48, 0.925);
 
}

.dinner-tile{
  background: url("/static/images/Chicken_Spinach_Alfredo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display:flex;
  flex-direction: column;
  color:rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;
  
}
.dessert-tile{
  background: url("/static/images/almonds.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  display:flex;
  flex-direction: column;
  color:rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;
  
}
.wine-tile{
  background: url("/static/images/red-wine-copy.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  display:flex;
  flex-direction: column;
  color:rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family:'Noto Sans TC', sans-serif;
 
  
}
.hvr-grow {

  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Float Shadow */
.hvr-float-shadow {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.snack-tile h3{
  padding:10px 10px;
  background:rgba(89, 255, 186, 0.925);
  border-radius:10px;
}
.snack-tile a:hover{
  list-style: none;
  text-decoration: none;
}
.snack-tile h3:hover{
  padding:10px 10px;
  background:rgb(84, 224, 19); 
  border-radius:10px;
  color:#fff;
  
}
.dinner-tile h3{
  padding:10px 10px;
  background:rgba(89, 255, 186, 0.925);
  border-radius:10px;
}
.dinner-tile h3:hover{
  padding:10px 10px;
  background:rgb(19, 22, 170);
  border-radius:10px;
  color:#fff;
  list-style: none;
  text-decoration: none;
}
.dessert-tile h3{
  padding:10px 10px;
  background:rgba(89, 255, 186, 0.925);
  border-radius:10px;
}
.dessert-tile h3:hover{
  padding:10px 10px;
  background:rgb(204,34,162);
  border-radius:10px;
  color:#fff;
  list-style: none;
  text-decoration: none;
}
.wine-tile h3{
  padding:10px 10px;
  background:rgba(89, 255, 186, 0.925);
  border-radius:10px;
}
.wine-tile h3:hover{
  background:rgba(89, 86, 241, 0.925);
  color:#fff;
}

.wine-tile a:hover{
  list-style: none;
  text-decoration: none;
}
.dessert-tile a:hover{
  list-style: none;
  text-decoration: none;
}

.featured-section{
  display:flex;
  flex-direction: column;
  padding:0px 0px 50px 0px;
  margin:40px 0px;
  justify-content: center;
  align-items: flex-start;

}

.featured-section h2{
  font-size:30px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Shippori Mincho', serif;
  color:rgb(0,0,5);
  padding:0px 0px 0px 100px;
}



#featured-bar{
  padding: 0px;
  margin:0px 0px;
  background:rgb(0,0,5);
  width:60%;
  border-radius: 30px;
  height:3px;

}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height:4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(0,0,5);

}


.wrapper {
  display: flex;
  grid-gap: 1em;
  width:90%;


}

.inner{
  display: flex;
  grid-gap: 1em;
  transition: all 1s ease-in-out;




}

.recipe-slider{
  display:flex;
  overflow-y:scroll;
  padding: 0px 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fa-chevron-circle-right{
  font-size:15px;
  color:rgba(89, 255, 186, 0.925);;
}
#left_button{
color:rgb(0,0,5);
font-size: 4em;
border:none;
margin: auto 0em auto 0em;

}

#right_button{
  color:rgb(0,0,5);
  margin: auto 0em auto 0em;
  font-size: 4em;
  border:none;
}

.card{
  width:300px;
  padding:0px 0px;
  margin: 0px 10px;
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card h3{
  padding:20px 0px;
  font-family: 'Shippori Mincho', serif;
}

.image-card{
  padding:0px 0px;
  margin: 0px 0px;
}

#chicken_card{
  background: url("/static/images/Chicken_Spinach_Alfredo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;

}
#pumpkin_gnocci_card{
  background: url("/static/images/gnocci.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#frencho_soup_card{
  background: url("/static/images/frencho.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#french_toast_card{
  background: url("/media/image_posts/french_toast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#kebab_card{
  background: url("/static/images/kebab_copy_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#gnocci_card{
  background: url("/static/images/gnocci_homemade.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:260px;
}
#vodka_sauce_card{
  background: url("/static/images/vodka_sauce_tile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#buff_dip_card{
  background: url("/static/images/buff_dip.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#stuffed_pepper_card{
  background: url("/media/image_posts/stuffed_pepper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}
#ribs_card{
  background: url("/media/ribs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height:250px;
}



.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.card {
  border-radius: 0.5em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


.map{
  margin:30px 0px;
}

button{
  height:20px;
  width:20px;
  border-radius:50px;
  cursor: pointer;
  background:rgb(0,0,5);
  margin:0px 20px;
}

.active{
  background:rgba(89, 255, 186, 0.925);
}
  






/* .top-middle-tile:hover{
  -webkit-filter: brightness(70%);
}
.bottom-middle-tile:hover{
  -webkit-filter: brightness(70%);
}
.snack-tile:hover{
  -webkit-filter: brightness(70%);
}
.dinner-tile:hover{
  -webkit-filter: brightness(70%);
}
.dessert-tile:hover{
  -webkit-filter: brightness(70%);
}
.wine-tile:hover{
  -webkit-filter: brightness(70%);
} */



@media screen and (max-width:1409px){

}

@media screen and (max-width:1216px){


  .large-right-tile{
    height:550px;
  }

  .top-middle-tile h3{
    font-size: 20px;
  }
  .bottom-middle-tile h3{
    font-size: 20px;
  }

}

@media screen and (max-width:993px){

  .large-popular-image{
    height:500px;
    max-width:100%;
  }
  .large-right-tile{
    height:430px;
  }
  .top-middle-tile h3{
    font-size: 15px;
  }
  .bottom-middle-tile h3{
    font-size: 15px;
  }
  .article-grid{
    display: grid;
    color:black;
    justify-content: center;
    padding:20px;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  
  .grid-title-left h3{
    font-size: 40px;
  }
  .grid-title-center h3{
    font-size: 40px;
  }
  .grid-title-right h3{
    font-size: 40px;
  }
  .grid-title-left small{
    font-size: 20px;
  }
  .grid-title-center small{
    font-size: 20px;
  }
  .grid-title-right small{
    font-size: 20px;
  }

  .food-style-columns{
    padding:70px 0px 10px 0px;
    display:flex;
    flex-direction:row;
    flex-wrap:row;
    justify-content: space-around;
    width:70%;
  }
  
  .type-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color:#fff;
    letter-spacing: 6px;
  }
  .popular-heading{
    font-size:50px;
    
  }


}

@media screen and (max-width:768px){

  .mid-banner-text h3{
    font-size:50px;
  }
  
  .mid-banner-text p{
    font-size:15px;
  }
  .mid-banner-text a{
    color:white;
    text-decoration: underline;
  }
  .large-popular-image{
    height:400px;
    max-width:100%;
  }

  .top-middle-tile h3{
    font-size: 60px;
  }
  .bottom-middle-tile h3{
    font-size: 50px;
  }

  .grid-image-left h3{
    font-size: 20px;
  }
  .grid-image-center h3{
    font-size: 20px;
  }
  .grid-image-right h3{
    font-size: 20px;
  }

  .food-style-columns{
    padding:70px 0px 10px 0px;
    display:flex;
    flex-direction:row;
    flex-wrap:row;
    justify-content: space-around;
    width:50%;
  }
  
  .type-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color:#fff;
    letter-spacing: 6px;
  }
  .popular-heading{
    font-size:40px;
    
  }
  .lefty{
    flex-basis:10%;
    font-size:15px;
    background-color:rgb(5, 0, 0);
    font-family: 'Noto Sans TC', sans-serif;
  
    padding:30px;
  }
  .righty h4{
    display: flex;
    flex-basis:90%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size:15px;
    color:black;
    align-items: center;
  
  }
}

@media screen and (max-width:576px){
  .mid-banner-text h3{
    font-size:30px;
  }
  
  .mid-banner-text p{
    font-size:10px;
  }
  .mid-banner-text a{
    color:white;
    text-decoration: underline;
  }

  .top-middle-tile h3{
    font-size: 50px;
  }
  .bottom-middle-tile h3{
    font-size: 48px;
  }

  .grid-image-left h3{
    font-size: 20px;
  }
  .grid-image-center h3{
    font-size: 20px;
  }
  .grid-image-right h3{
    font-size: 20px;
  }
  .grid-image-left small{
    display: none;
  }
  .grid-image-center small{
    display: none;

  }
  .grid-image-right small{
    display: none;

  }

  .food-style-columns{
    padding:70px 0px 10px 0px;
    display:flex;
    flex-direction:row;
    flex-wrap:row;
    justify-content: space-around;
    width:40%;
  }
  
  .type-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color:#fff;
    letter-spacing: 6px;
  }
}


@media screen and (max-width:456px){
  .mid-banner-text h3{
    font-size:30px;
  }
  
  .mid-banner-text p{
    font-size:10px;
  }
  .mid-banner-text a{
    color:white;
    text-decoration: underline;
  }

  .grid-image-left h3{
    font-size: 15px;
  }
  .grid-image-center h3{
    font-size: 15px;
  }
  .grid-image-right h3{
    font-size: 15px;
  }
  .food-style-columns{
    padding:70px 0px 10px 0px;
    display:flex;
    flex-direction:row;
    flex-wrap:row;
    justify-content: space-around;
    width:30%;
    
  }
  
  .type-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color:#fff;
    letter-spacing: 5px;
    background: url('static/images/kasumi.jpg');
  }
}

 .blog-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin:30px 200px;
  width:75%;
  padding:0px 0px;

  border-radius:20px;
}

@media screen and (max-width:990px){
  .large-snack-tile{
    height:280px;
  }
  .large-dinner-tile{
    height:280px;
  }
  .large-dessert-tile{
    height:280px;
  }
  .large-wine-tile{
    height:280px;
  }
}




 .blog-photo{
  grid-column: 1/2;
  grid-row: 1/2;
  margin:0px 0px;
  height:220px;
  width:400px;
  padding:0px 0px;
  list-style:none;
  
}

.blog-description{
  grid-column: 2/7;
  grid-row:1/2;
  margin:0px 0px;
  padding: 0px 20px;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
 align-items: flex-start;
 border:1px solid rgb(216, 207, 207);
}

.blog-description h1{
  font-size:30px;
  padding:0px 0px 15px 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bolder;
}

.blog-description p{
  font-size:15px;
  padding:0px 0px 0px 0px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
}

.blog-type{
  margin:0px 0px;
  padding:20px 0px 20px 0px;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.blog-type h6{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bolder;
  color:#fff;
  padding:10px 10px 10px 10px;

}
.blog-type a{
  list-style: none;
  text-decoration: none;
}


@media screen and (max-width: 1172px){
  /* .header-background{
    padding: 30px 0px 0px 100px;
  }*/
  .jumbotron_background_img{
    display:none;
  } 
  .front-banner-text{
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
 
  }
  .centered-logo{
   left:300px;

  }

  #jumbo-desc{
    display:none;
  }
  #jumbo-header{
    font-size:80px;
  }

  .header-background{
    background: url("/static/images/wine_guide_home copy.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 0px 0px 0px 400px;
  }


}



@media screen and (max-width:925px){
  .blog-container{
    width:100%;
    margin:30px 0px 30px 130px;
  }
  .blog-description{
    width:100%;
  }
  .blog-photo{
    width:400px;
  }

  .tile-container{
    margin:0px 0px;
  }


}

@media screen and (max-width: 854px){
  .blog-photo{
    width:320px;
  } 
  .blog-type a{
    font-size: 7px;
  }

  .blog-type h6{
    padding: 5px 5px 5px 5px;
  }

  .blog-description h1{
    font-size: 20px;
  }
  .blog-description p{
    font-size: 12px;
  }

  .blog-container{
    margin:30px 50px;
  }


}

@media screen and (max-width: 620px){
  .header-background{
    justify-content:flex-start;
    align-items:flex-start;
    padding:0px 0px 0px 400px;
    height:40%;
  }
  #jumbo-header{
    font-size:60px;
  }
}

@media screen and (max-width: 580px){
  .blog-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:70%;
  }
  .blog-description{
    width:100%;
    height:50%;
  }
  .blog-photo{
    width:280px;
  } 
}