*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.main-body{
  padding:0px 0px 40px;
}

.heading-content{
  height:100px;
  max-width:100%;
  padding:0px;
  margin:0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:30px;
  color:rgb(0,0,5);
}

.heading{
  font-size:40px;
  color:rgb(0,0,5);
  font-family: 'Varela Round', sans-serif;

}

.typing{
  font-family: 'Varela Round', sans-serif;
  font-size:20px;
}

.typing::after{
  content:"";
  width:1px;
  height:5%;
  border-right: 1px solid rgb(0,0,5);
  animation: blink 0.5s infinite;
  

}

@keyframes blink{
  0%{
    opacity:0;
  }
  100%{
    opacity:100%;
  }

}

.generator-content{
  height:600px;
  background:rgb(0,0,5);
  max-width:60%;
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding:0px 0px 10px;
  border-radius: 40px;


}



.generate-banner p{
  font-size:40px;
  color:rgba(89, 255, 186, 0.925);
  font-family: 'Varela Round', sans-serif;
}

.generator-button{
  grid-column: 1/6;
  grid-row:5/6;
  max-width:100%;
  display:flex;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 40px 0px;
  height:100%;

}
button{
  width:300px;
  height:100px;
  border-radius:10px;
  background:rgb(0,0,5);
  outline:none;
  cursor:pointer;
  overflow: hidden;
  border-style: none;
  color:rgba(89, 255, 186, 0.925);
  font-family: 'Shippori Mincho', serif;
  transition: all .5s;
  position: relative;
  padding:0px;
  font-size:20px;
  font-family: 'Varela Round', sans-serif;
}

button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 4px;
  width:300px;
  top:0px;
  left:-300px;
  background:rgba(89, 255, 186, 0.925);

  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-300px
  }
  100%{
      left:300px;
  }
}
button span:nth-child(2){
  height: 100px;
  width: 4px;
  top:100px;
  right:0px;
  background:rgba(89, 255, 186, 0.925);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-100px;
  }
  100%{
      top:100px;
  }
}
button span:nth-child(3){
  height:4px;
  width:300px;
  right:-300px;
  bottom: 0px;
  background:rgba(89, 255, 186, 0.925);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-300px;
  }
  100%{
      right: 300px;
  }
}

button span:nth-child(4){
  height:100px;
  width:4px;
  bottom:-100px;
  left:0px;
  background:rgba(89, 255, 186, 0.925);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom:-100px;
  }
  100%{
      bottom:100px;
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(89, 255, 186, 0.925);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.wine-content{
  grid-column: 1/6;
  grid-row:1/5;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.wine_name{
  color:#fff;
  font-size:80px;
  font-family: 'Shippori Mincho', serif;
}
.wine_overview{
  color:#fff;
  font-family: 'Shippori Mincho', serif;
  font-size:30px;
}



.wine-scenery{
  grid-column: 4/6;
  grid-row: 1/4;
  background: url("/static/images/generator_vineyard.jpg");
  display:none;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius:40px;
}